<!DOCTYPE html>

<html lang="pt-br">
	<head>
    		<meta http-equiv="content-type" charset="utf-8"/>
        	<title>CONTATO</title>
        	<link rel="stylesheet" type="text/css" href="_CSS/estilo_geral.css"/>
         
    </head>
	<body>
		<div id="interface">
			<header id="cabecalho">
				<img src="{{ url_for('static',filename='images/logo.png')}}" />
			</header>
			<nav id="menu">
				<ul>
					<li><p><a href="index.html">Home</a></p></li>
                <li><p><a href="cotacao.html">Cotação</a></p></li>
                <li><p><a href="quemsomos.html">Quem somos</a></p>
                </li>
                <li><p><a href="contato.html">Contato</a></p></li>
				<li><p><input type="search"></a> Busca</p></li>
					
				   
				</ul>
        </nav>
        
        <section id="corpo">
         	<section id="conteudo">
            
         	   <h1>Contatos</h1>
               
               <form id="form1" name="form1" method="post" action="enviarcontato.php">
    			<p>
        		<label for="nome">Nome</label>
            	<input type="text" name="nome" id="nome" />
        		</p>
                
        		<p>
        		<label for="email">E-mail</label>
            	<input type="text" name="email" id="email" />
        		</p>
                
        		<p>
        		<label for="assunto">Assunto</label>
            	<select name="assunto" id="assunto">
            	<option>Sugestão</option>
                <option>Reclamação</option>
                <option>Elogios</option>
            	</select>
        		</p>
                
        		<p>
        		<label for="comentario"></label>
            	<textarea name="comentario" id="comentario" cols="45" rows="5"></textarea>
      			</p>
                
       			<p>
       			<input type="submit" name="enviar" id="enviar" value="Enviar" />
       			</p>
       </form>
            
         	</section>
         </section>
        <footer id="rodape">
        	<h3>TADS 2022/2<br>IFMS - NOVA ANDRADINA/MS</h3>
        </footer>
    </div>
    
    
</body>
</html>    
    