<!DOCTYPE html>

<html lang="pt-br">
	<head>
    		<meta http-equiv="content-type" charset="utf-8"/>
        	<title>Cotação</title>
        	<link rel="stylesheet" type="text/css" href="_CSS/estilo_geral.css"/>
    </head>
<body>
    <div id="interface">
    	<header id="cabecalho">
        	<img src="logo.png" />
        </header>
        <nav id="menu">
        	<ul>
            	<li><p><a href="index.html">Home</a></p></li>
                <li><p><a href="cotacao.html">Cotação</a></p></li>
                <li><p><a href="quemsomos.html">Quem somos</a></p>
                </li>
                <li><p><a href="contato.html">Contato</a></p></li>
				<li><p><input type="search"></a> Busca</p></li>
                
               
            </ul>
        </nav>
            <section id="conteudo3">
                
            </section>
        <footer id="rodape">
        	<h3>TADS 2022/2<br>IFMS - NOVA ANDRADINA/MS</h3>
        </footer>
    </div>
    
    
</body>
</html>    
    