<!DOCTYPE html>

<html lang="pt-br">
	<head>
		<meta http-equiv="content-type" charset="utf-8"/>
		<title>ELITSEG</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/demo.css')}}"/>
		<link rel="shortcut icon" href="{{url_for('static', filename='/images/fav/favicon.io')}}" type="image/x-icon">
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.2.6.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/coin-slider.min.js')}}"></script>
		<link rel="stylesheet" href="{{url_for('static', filename='css/coin-slider-styles.css')}}" type="text/css" />
    </head>
<body>
    <div id="interface">
		<script>
			alert("Utilizamos cookies essenciais e tecnologias semelhantes de acordo com a nossa Política de Privacidade e, ao continuar navegando, você concorda com estas condições.");
		</script>
    	<header id="cabecalho">
        	<img src= "{{ url_for('static',filename='images/logo.png')}}" alt="logo do site">
        </header>
        <nav id="menu">
        	<ul>
            	<li><p><a href="/">Home</a></p></li>
                <li><p><a href="/cotacao">Cotação</a></p></li>
                <li><p><a href="/quemsomos">Quem somos</a></p></li>


            </ul>
        </nav>

        <section id="corpo">
         	<section id="conteudo">

            	<div id='coin-slider'>
					<a href="/" target="_blank" rel="next"></a>
					<img src="{{ url_for('static',filename='images/cotacao.png')}}" alt="Imagem da cotação">

    			</a>

             <a href="/cotacao.html" target="_blank" rel="next">
				<img src="{{ url_for('static',filename='images/cot2.png')}}" alt="Imagem da segunda logo">
       		<span>
            	<b>Faça sua cotação</b>
        	</span>
    		</a>
			</div>
            <script type="text/javascript">
   			 	$(document).ready(function() {
       		 	$('#coin-slider').coinslider({ width: 890, height:500, navigation: true, effect:'swirl', delay: 5000 });
   				});
			</script>

         	</section>
         </section>

        <footer id="rodape">
        	<h3>TADS 2022/2<br>IFMS - NOVA ANDRADINA/MS</h3>
        </footer>
    </div>
</body>
</html>
